/*************
General styling / Elements
**************/

/*************
Images
**************/

/*************
Buttons / Links / li / inputs
**************/

.header-nav-list-item {
  font-size: 1.25rem;
  color: var(--grn4);
}

.header-nav-list-item:hover {
  color: var(--wht);
}

/*************
Typography
**************/

.logo {
  font-size: 1.25rem;
  color: var(--grn4);
  line-height: 1;
}

.logo-strapline {
  font-size: 0.625rem;
  color: var(--grn4);
  letter-spacing: 0.1em;
  font-style: italic;
}

/*************
Layout
**************/

.header {
  background-color: darkslateblue;
  padding: 2rem 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo-container {
  text-align: center;
}

.header-nav {
  display: none;
}

.header-nav-link {
  position: relative;
  top: 2px;
  margin-left: 2rem;
}

/*************
Media Queries
**************/

@media (min-width: 420px) {
  .logo {
    font-size: 2rem;
  }

  .logo-strapline {
    font-size: 1rem;
  }
}

@media (min-width: 800px) {
  .header-nav {
    display: flex;
  }
}

/* shopping cart */
